{
  "plugins": [
	["prismjs", {
		"languages": [
			"applescript",
			"bash",
			"cpp",
			"css",
			"git",
		  "javascript",
		  "markup",
		  "scss"
		],
		"plugins": ["line-numbers","normalize-whitespace"],
		"theme": "tomorrow",
		"css": true
	}]
  ]
}