*{
    padding: 0;
    margin: 0;
}
html{
    font-family: 'Oswald', sans-serif;
    
}
body{
    background-color: #000000; 
    color: #ffffff
}
.input__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input__form input[type="submit"]{
    display: block;
    margin-top: 10px;
    width: 60%;
    
}
.input__form input[type="text"]{
    display: block;
    margin-top: 10px;
    
}
.main__header{
    text-align: center;
}
.main__wraper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 18px;
    row-gap: 10px;
    margin: 0 15px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}
.section__header{
    /* font-size: 1.438rem; */
    border-bottom: 1px solid #f8f8f8;
}
.vsShortCut__list{
    list-style: none;
    padding: 20px 0;
}