*{
    padding: 0;
    margin: 0;
}
html{
    font-family: 'Oswald', sans-serif;
    
}
body{
    background-color: #000000; 
    color: #ffffff;
    }

.input__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input::placeholder{
    text-align: center;
}
.login__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login__form button{
    display: block;
    margin-top: 10px;
    width: 40%;
    background: none;
    border: none;
    background-color: #ffffff;
    padding: 7px;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
}
.login__form input[type="email"]{
    display: block;
    color: #ffffff;
    margin-top: 10px;
    background: none;
    border: none;
    border: 1px solid #ffffff;
    border-radius: 3px;
    width: 50%;
    padding: 7px;
}
.login__form input[type="password"]{
    display: block;
    color: #ffffff;
    margin-top: 10px;
    background: none;
    border: none;
    border: 1px solid #ffffff;
    border-radius: 3px;
    width: 50%;
    padding: 7px;
}
input[type="submit"]{
    display: block;
    margin-top: 10px;
    width: 60%;
    background: none;
    border: none;
    background-color: #ffffff;
    padding: 7px;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    
}
.input__form button{
    display: block;
    margin-top: 10px;
    width: 60%;
    background: none;
    border: none;
    background-color: #ffffff;
    padding: 7px;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;

}
.input__form input[type="text"]{
    display: block;
    color: #ffffff;
    margin-top: 10px;
    background: none;
    border: none;
    border: 1px solid #ffffff;
    border-radius: 3px;
    width: 80%;
    padding: 7px;
    
}

.input__form--hide{
    visibility: hidden;
}
.login__form--hide{
    /* visibility: hidden; */
    display: none;
}
.main__header{
    text-align: center;
}
.main__wraper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 18px;
    row-gap: 10px;
    margin: 0 15px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}
.navigation{
    padding: 10px;
}
.section__header{
    /* font-size: 1.438rem; */
    border-bottom: 1px solid #f8f8f8;
}
.shortCut__item{
    letter-spacing: 2px;
    
}
.user__icon{
    cursor: pointer;
}
.user__list li{
    cursor: pointer;
}
.vsShortCut__list{
    list-style: none;
    padding: 20px 0;
}